*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
}

.sidebar {
    position: fixed;
    height: 100vh;
    overflow-y: auto;
    width: 250px;
    background-color: #343a40;
    padding: 20px;
    color: white;
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.sidebar a:hover {
    background-color: #495057;
}

/*Gerais*/

.content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 250px;
    
}

.hidden{
    display: none;
}

.container{
    display: flex;
    width: 100%;
    padding: 0 2%;
    flex-direction: column;
    align-items: center; 
}

.cabecalho{
    text-align: center;
    padding: 20px 0;
}

/*Conteudo principal - Pagina inicial*/

p.descricao-projeto{
    width: 60%;
    text-align: justify;
}

.image{
    background-color: black;
    width: 60%;
}

img{
    width: 100%;
}

/*Conteudo principal - Pagina de Pedido*/

form{
    background-color: #343a40;
    width: 60%;
    padding: 20px 2%;
    color: white;
    border-radius: 10px;
}

form textarea{
    resize: none;
}

.Valor-total{
    margin-top: 50px;
}

/*Conteudo Pagina de Listar pedidos*/

.cab-pedidos{
    border-bottom: 1px solid black;
}

.list-group{
    min-width: 500px;
}

.lista-pedidos button{
    margin-top: 30px;
}
